@model List<Category>
<partial name="_Notification" />
<div class="containter">
    <div class="border p-3 mt-4">
        <div class="row pd-2">
    <div class="row pt-4 pd-3">
        <div class="col-6">
         <h2 class="text-dark">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create New Category</a>
        </div>
                <hr />
    </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                </tr>
                <td>
                    <div class="w-75 btnbtn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                        <i class="bi bi-archive-fill"></i>Delete
                    </a>
                    </div>
                </td>
            }

        </tbody>

    </table></div>
</div>
